# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDEs and editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
.history

# OS files
.DS_Store

# Misc
*.log

# Symbolication and obfuscation
app.*.symbols
app.*.map.json

# Android Studio build artifacts
android/app/debug
android/app/profile
android/app/release